* {
  font-size: 50px;
  font-family:  'Oswald', sans-serif;
  color: red;
  text-align: center;
  margin: 30px;
  padding-top: 30px;
}

.btn{
  width: 100%;
  background: rgb(240, 160, 11);
  border: 0;
  border-radius: .4em;
  color:white;
}

